torch
transformers
spacy
scikit-learn
numpy<2.0.0
tqdm
pandas
datasets
google-genai
python-dotenv
pytest
streamlit
plotly
sentence-transformers
markllm
binoculars
google-cloud-storage
google-cloud-bigquery
firebase-admin
db-dtypes
google-cloud-aiplatform
pandas-gbq
